<a href="https://colab.research.google.com/github/hanockcjoshy7-cloud/numpy/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print("hello world")

In [ ]:
print("Luminar\n TVM")

In [ ]:
print("Lumina\tTVM")

In [ ]:
a=5
b="apple"

print(a)
print(b)

In [ ]:
#ord
print(ord("a"))
#chr
print(chr(97))

In [ ]:
#encode and decode
text="apple❤️À "
en=text.encode()
de=en.decode()
print(en)
print(de)

In [ ]:
#unicode
print("\u16543")

In [ ]:
name="Hanock C Joshy"
print(name)
age=21
print(age)
pi=3.5
print(pi)

In [ ]:
#multiple variable assigment
a,b=12,34

In [ ]:
#wap to swap two number
a=12
b=34
a,b=b,a
print(a)
print(b)

In [ ]:
#assign 7 to x and 3 to y then compute x+y*2
#swap a=100 and b=200
#check if width=10 and height=20
#extract world from hello world
#count how many l in hello
#check if text="python"start with py
#check if "123" is numeric
#check 5 exists in [1,2,3,4,]
#convert"3.14" to float
#change 100 to a string
#transform "hello" into a string
#tranform "hello" into list of charecters
#claculate 15% tip on bill=50
#what is 3*"A"+2"B"
#elavate [1,2,3][1:]

In [ ]:
x = 7
y = 3

print(x + y * 2)

In [ ]:
a=100
b=200
a,b=b,a
print(a)
print(b)

In [ ]:
width = 10
height = 20

if width == 10 and height == 20:
    print("Width is 10 and Height is 20")
else:
    print("not found")

In [ ]:
a="hello world"
print(a[6:11])

In [ ]:
a="hello"
print(a.count("l"))

In [ ]:
a="python"
print(a.startswith("py"))

In [ ]:
a="123"
print(a.isnumeric())

In [ ]:
a=[1,2,3,4]
print(5 in a)

In [ ]:
a="3.14"
float(a)

In [ ]:
a=100
str(a)

In [ ]:
a="hello"
str(a)

In [ ]:
a="hello"
list(a)

In [ ]:
a=50
b=.15*a
print(b)

In [ ]:
a="A"*3+"B"*2
print(a)

In [ ]:
a=[1,2,3]
print(a[1:])

In [ ]:
#increment x=7 by 3 without using + operator
#convert miles=5 to kilometers (1mile=1.60934) use walrus operator
#print swap case of s="PyThon"
#check if s="hello" is all lowercase
#check if word="Python" end with "on"
#remove whitespaces from "hello"
#split "apple, banana, cherry" at commas
#check if "123abc" is alpha numeric
#change the second element of l=[1,2,3] to 5
#get index of "b" in ["a", "b","c"]
#calculate hypotenuse of a right triangle with sides 3 and 4
#find smallest of two numbers

In [ ]:
x = 7
x+=3
print(x)

In [ ]:
#wap to print 10 hai vertically
for i in range(10):
    print("hai")

In [ ]:
for i in range(10):
    print("hai",end=" ")

In [ ]:
#wap to find sum of even numbers within 1-100
s=0
for i in range(2, 101, 2):
  s+=i
s

In [ ]:
#wap to find sum of odd numbers with in 1-20 both inclusive
s=0
for i in range(1,21):
  if i%2!=0:
    s=s+i
s

In [ ]:
#wap to print factorial of number
n= int(input("Enter a number: "))
f=1
for i in range(1,n+1):
        f=f*i
f

In [ ]:
#wap to print multiplication table of 5 upto 15 rows
for i in range(1, 16):

    print(f"{i} x 5 = {5 * i}")

In [ ]:
#wap to print factors of a given number
n= int(input("Enter a number: "))
for i in range(1, n + 1):
    if n % i == 0:
        print(i)

In [ ]:
#wap to count number of factors of a given number
n=8
c=0
for i in range(1,n+1):
  if n%i==0:
    c+=1
c

In [ ]:
l=[]
n=8
for i in range(1,n+1):
  if n%i==0:
    l.append(i)
print(len(l))

In [ ]:
n= int(input("Enter a number: "))
c=0
for i in range(1,n+1):
  if n%i==0:
    c+=1
if c==2:
  print("prime")
else:
  print("not prime")

In [ ]:
#fibanocci series
l=[0,1]
n=6
for i in range(2,n+1):
  t=l[-1]+l[-2]
  l.append(t)
l

In [ ]:
l=[0,1]
n=6
for i in range(2,n):
  t=l[-1]+l[-2]
  l.append(t)
l

In [ ]:
f=0
s=1
for i in range(5):
  print(f)
  t=f+s
  f=s
  s=t

In [ ]:
#wap to find number in a string
#wap to find number of words in a string

In [ ]:
s=input("enter the string")
print(len(s))
s=input("enter the sting")
print(s.count)

In [ ]:
while True:
  print("hi")
  i+1

In [ ]:
#nested loop
for i in range(2):
  for j in range(4):
    print("*",end=" ")
  print()

In [ ]:
for i in range(4):
  for j in range(4):
    print("#",end=" ")
  print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(4):
  for j in range(4):
    print(j+1,end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
for i in range(4):
  for j in range(4):
    print(i+1,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(4):
  for j in range(1,5):
    print(j*2,end=" ")
  print()

2 4 6 8
2 4 6 8
2 4 6 8
2 4 6 8

In [ ]:
for i in range(3,6):
  for j in range(1,5):
    print(i*i,end=" ")
  print()

In [ ]:
for i in range(4):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(4):
  for j in range(4-i):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
for i in range(4):
  for j in range(4-i):
    print(i+1,end=" ")
  print()

In [ ]:
for i in range(4):
  for j in range(4-i):
    print(j,end=" ")
  print()

0 1 2 3
0 1 2
0 1
0

In [ ]:
for i in range(4):
  for j in range(4-i):
    print(" ",end=" ")
  for k in range(i+1):
    print("*",end=" ")

  print()

In [ ]:
for i in range(3):
  for j in range(4-i):
    print(" ",end=" ")
  for k in range(i+1):
    print("*",end=" ")
  for l in range(i):
    print("*",end=" ")
  print()
for i in range(4):
  for j in range(i+1):
    print(" ",end=" ")
  for k in range(4-i):
    print("*",end=" ")
  for l in range(3-i):
    print("*",end=" ")

  print()

In [ ]:
for i in range(1,5):
  for j in range(i):
    print(i-j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1

In [ ]:
for i in range(1,5):
  for j in range(i):
    print(j+1,end=" ")
  print()

In [ ]:
l=["a","b","c","d"]

In [ ]:
#jumbing statements
#pass
for i in range(1,10):
  if i%2==0:
    pass
  else:
    print(i)
#break
#continue

In [ ]:
for i in range(1,10):
  if i==5:
    break
  print(i)

In [ ]:
for i in range(1,10):
  if i==5:
    continue
  print(i)

In [ ]:
#wap to print prime numbers in a given range
for n in range(a, s+1):
    if n > 1:
        for i in range(2, n):
            if n % i == 0:
                break
        else:
            print(n)

In [ ]:
#function in python
#build in function print(),max(),len(),count()........
#function imported from modules

In [ ]:
def add(a,b):
  return a+b,a-b
t,s=add(1,2)
print(t)
print(s)

In [ ]:
#write a program to create a function to print factorial of a number
def fact(n):
    f = 1
    for i in range(1, n+1):
        f=f * i
    return f
fact(5)

In [ ]:
#create a simple calculate using function
a=int(input("enter number"))
b=int(input("enter number"))
def num(a,b):
  return a+b,a-b,a*b,a/b
c,d,e,f=num(a,b)
print("sum of two numbers:",c)
print("minus of two numbers:",d)
print("multiple of two numbers",e)
print("division of two numbers:,f")

In [ ]:
if number % 2 == 0:
    return "Even"
else:
    return "Odd"

In [ ]:
def check_odd_even(num):
    if num % 2 == 0:
        print(num, "is Even")
    else:
        print(num, "is Odd")

n = int(input("Enter a number: "))
check_odd_even(n)

In [ ]:
def stud (rollno=13,name="abu"):
  print("name is:",name)
  print("rollno is:",rollno)
stud(12)

In [ ]:
def stud (name,rollno=13):
  print("name is:",name)
  print("rollno is:",rollno)
stud(rollno=12,name="apple")

In [ ]:
#create a function to print area of a circle using default and keyword argument
def area(r,pi=3.14):
  print("area is:",pi*(r**2))
area(r=9,pi=6.1)

In [ ]:
#create a function to find maximum of three number
def maxi(a, b, c):
    return max(a,b,c)
maxi(1,2,3)

3

In [ ]:
#create a function to reverse a string
def rev(s):
  return s[-1::-1]
rev("Malayalam")

'malayalaM'

In [ ]:
#create a function to check a string is palindrome or note
def str(s):
    d=s[-1::-1]
    if d==s:
        print("palindrome")
    else:
        print("not palindrome")
str("malayalam")

palindrome

In [ ]:
#*arg,**kwargs
def ore(*args):
  print(type(args))
  for i in args:
    print(i)
ore(1,2,3,4,5,"apple")

<class 'tuple'>
1
2
3
4
5
apple

In [ ]:
def are(**kwargs):
  print(type(kwargs))
  for i,j in kwargs.items():
    print(i,j)
are(a=1,b=2,c=3,d=4)

<class 'dict'>
a 1
b 2
c 3
d 4

In [ ]:
def are(**kwargs):
  print(type(kwargs))
  for i,j in kwargs.items():
    print(i,j)
  print(args)
are(3,4,5,a=1,b=2)

TypeError: are() takes 0 positional arguments but 3 were given

In [ ]:
#seraching
#linear searching
#binary searching
l=[4,5,6,1,2]
key=10
for i in l:
  if i==key:
    print("item found")
    break
else:
  print("item not found")

item not found

In [ ]:
#binary searching
l=[5,7,9,13,32,33,42,54,56,88]
l.sort()
key=33
u=len(l)-1
lo=0
while(lo<=u):
  mid=(lo+u)//2
  if l[mid]==key:
    print("item found")
    break
  elif l[mid]<key:
    lo=mid+1
  else:
    u=mid-1
else:
  print("item not found")

item found

In [ ]:
def fact1():
    n = int(input("Enter a number: "))
    l = [i for i in range(1, n+1)]
    f = 1
    for i in l:
        f *= i
    print("Factorial:", f)
print("Case 1:")
fact1()

def fact2(n):
    l = [i for i in range(1, n+1)]
    f = 1
    for i in l:
        f *= i
    print("Factorial:", f)
print("\nCase 2:")
fact2(5)

def fact3():
    n = int(input("Enter a number: "))
    l = [i for i in range(1, n+1)]
    f = 1
    for i in l:
        f *= i
    return f
print("\nCase 3:")
print("Factorial:", fact3())


def fact4(n):
    l = [i for i in range(1, n+1)]
    f = 1
    for i in l:
        f *= i
    return f


print("\nCase 4:")
print("Factorial:", fact4(6))

Case 1:

KeyboardInterrupt: Interrupted by user

In [ ]:
#modules and packages
import math

In [ ]:
print(math.pow(2,3))

NameError: name 'math' is not defined

In [ ]:
help("math")

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating-point sum of values in the iterable seq.

        Assumes IEEE-754 floating-point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating-point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
print(math.pow(2,4))

16.0

In [ ]:
from math import factorial,sqrt,sin
factorial(5)

120

In [ ]:
math.ceil(3)

3

In [ ]:
#import pow ,cos,floor
from math import pow,cos,floor
pow(1,2)
cos(34)
floor(3.2)

3

In [ ]:
import calculator

In [ ]:
calculator.add(1,2)

3

In [ ]:
calculator.mul(33,2)

66

In [ ]:
#create a module to print prime number in a given range, string reversal, factorial
import calculator

# Prime numbers
a = int(input("Enter the starting number: "))
s = int(input("Enter the ending number: "))
for n in range(a, s+1):
    if n > 1:
        for i in range(2, n):
            if n % i == 0:
                break
        else:
            print(n)

def reverse_string(s):
    return s[::-1]
s = input("Enter a string: ")
print("Reversed string:", reverse_string(s))
s = int(input("Enter a number: "))
l = [i for i in range(1, s+1)]
f = 1
for i in l:
    f *= i
print("Factorial:", f)

Enter the starting number: 1
Enter the ending number: 10
2
3
5
7
Enter a string: malayalam
Reversed string: malayalam
Enter a number: 5
Factorial: 120

In [ ]:
#file handling in python
f1=open("/content/drive/MyDrive/file 1.txt","r")
#read lines
f=f1.readlines()
for i in f:
  print(i.strip())
print(type(f))
f1.close()

first line
second line
third line
<class 'list'>

In [ ]:
#read the content from file 1 using readlines and list comprehension
f1=open("/content/drive/MyDrive/file 1.txt","r")
f=f1.readlines()
l=[i.strip() for i in f]
for i in l:
  print(i)
print(l)
f1.close()

first line
second line
third line
['first line', 'second line', 'third line']

In [ ]:
#read the content from file1 and convert it into capital letters
f1=open("/content/drive/MyDrive/file 1.txt","r")
f=f1.readlines()
l=[i.strip().upper() for i in f]
for i in l:
  print(i)
  f1.close()
print(l)

FIRST LINE
SECOND LINE
THIRD LINE
['FIRST LINE', 'SECOND LINE', 'THIRD LINE']

In [ ]:
#readlines()
f1=open("/content/drive/MyDrive/file 1.txt","r")
f=f1.readline()
print(f)
print(type(f))
a=f1.readline()
print(a)
f1.close()

first line

<class 'str'>
second line

In [ ]:
#read()
f1=open("/content/drive/MyDrive/file 1.txt","r")
f=f1.read(2)
f=f1.read(2)
f=f1.read(2)
f=f1.tell()
f1.seek(0)
f=f1.read(2)
print(f)
print(type(f))
f1.close()

fi
<class 'str'>

In [ ]:
f2=open("/content/drive/MyDrive/file 2.txt","w")
#write
f2.write("hello\n")
f2.write("how are you\n")
f2.write("bye")

f2.close()

In [ ]:
f2=open("/content/drive/MyDrive/file 2.txt","a")
l=["good\n","morning\n","bye"]
f2.writelines(l)
f2.close()

In [ ]:
#copy the content from first file to second
f1=open("/content/drive/MyDrive/file 1.txt","r")
f2=open("/content/drive/MyDrive/file 2.txt","w")
l=f1.readlines()
f2.writelines(f)
f1.close()
f2.close()

In [ ]:
#find number of lines in files1
f1=open("/content/drive/MyDrive/file 1.txt","r")
l=f1.read()
print(l.count("\n")+1)
f1.close()

3

In [ ]:
#find occurance of each word in a file
f1=open("/content/drive/MyDrive/file 1.txt","r")
l=f1.read()
l=f.split()
print(l)
d={}
for i in l:
  if i not in d:
    d[i]=1
  else:
    d[i]=1
print(d)
f1.close()

['first', 'line', 'second', 'line', 'third', 'line']
{'first': 1, 'line': 1, 'second': 1, 'third': 1}

In [ ]:
#write a line to the file  and read the same
f1=open("/content/drive/MyDrive/file 2.txt","w")
f1.write("hello\n")
f1.write("how are you\n")
f1.write("bye")
f1.close()

In [ ]:
#wap to count the even numbers from 800-1000 both inclusive
#wap that counts the number of century years from 1800 to 2500
#wap the displays the first 10 triangular numbers (s number that can form an equlateral triangle. the nth triangular number is the sum of the first n natural numbers for example, the third triangular number is 1+2+3=6)
#wap to print the following pattern
*
##
***
####
*****
######
#wap to print the following pattern
#1
#1 4
#1 4 9
#1 4 9 16
#1 4 9 16 25
#1 4 9 16 25 36

In [ ]:
l = [i for i in range(800, 1001) if i % 2 == 0]
print("Total even numbers:", len(l))

Total even numbers: 101

In [ ]:
l= [year for year in range(1800, 2501) if year % 100 == 0]
print("Total century years:", len(l))

Total century years: 8

In [ ]:
l = [(n * (n + 1)) // 2 for n in range(1, 11)]
print("First 10 Triangular Numbers:", l)

First 10 Triangular Numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
for i in range(6):
  for j in range(i+1):
    print("#",end=" ")
  print()

#
# #
# # #
# # # #
# # # # #
# # # # # #

In [ ]:
for i in range(6):
    for j in range(i + 1):
        if i % 2 == 0:
            print("*", end=" ")
        else:
            print("#", end=" ")
    print()

*
# #
* * *
# # # #
* * * * *
# # # # # #

In [ ]:
for i in range(1, 7):
    for j in range(1, i+1):
        print(j*j, end=" ")
    print()

1
1 4
1 4 9
1 4 9 16
1 4 9 16 25
1 4 9 16 25 36

In [ ]:
#wap that asks the user to input and determine if that number is an odd number greater than 10
n = int(input("Enter a number: "))

if n % 2 != 0 and n > 10:
    print(n, "is an odd number greater than 10.")
elif n % 2 != 0 and n <= 10:
    print(n, "is odd but NOT greater than 10.")
elif n % 2 == 0 and n > 10:
    print(n, "is greater than 10 but NOT odd.")
else:
    print(n, "is even number greater than 10.")

Enter a number: 45
45 is an odd number greater than 10.

In [ ]:
#wap the asks the user to input a letter from the english alphabet and display wheather the charector is vowel or consonent
n = input("Enter a letter: ")
if n.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(n, "is a vowel.")
else:
    print(n, "is a consonant.")

Enter a letter: a
a is a vowel.

In [ ]:
#Get radius of circle from user then display area, perimeter of circle
n = float(input("Enter radius of circle: "))

area = 3.14 * n * n
perimeter = 2 * 3.14 * n

print("Area of circle:", area)
print("Perimeter of circle:", perimeter)

Enter radius of circle: 3
Area of circle: 28.259999999999998
Perimeter of circle: 18.84

In [ ]:
#write a function that takes a number as parameter and returns whether it is prime or not
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a Prime number")
else:
    print(num, "is NOT a Prime number")

Enter a number: 4
4 is NOT a Prime number

In [ ]:
#write a function that takes two numbers as parameters and return a number that has greatest last digit eg : numbers 127 and 196 return 127 because last digit 7 is larger than last digit 6
def greatest_last_digit(a, b):
    if a % 10 > b % 10:
        return a
    elif b % 10 > a % 10:
        return b
    else:
        return a

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print(" greatest last digit:", greatest_last_digit(x, y))

Enter first number: 4
Enter second number: 6
 greatest last digit: 6

In [ ]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("GCD of", x, "and", y, "is:", gcd(x, y))

Enter first number: 3
Enter second number: 4
GCD of 3 and 4 is: 1

In [ ]:
#write a function that takes 3 numbers as parameter then returns largest number and smallest number use keyword arguments
def find_min_max(a=0, b=0, c=0):
    largest = max(a, b, c)
    smallest = min(a, b, c)
    return largest, smallest

big, small = find_min_max(a=15, b=9, c=27)
print("Largest:", big)
print("Smallest:", small)

Largest: 27
Smallest: 9

In [ ]:
#regular expression
import re
#match
#search
#sub
#findall
s="python is a good programming language"
re.match("python",s)
print(re.match("is",s))

None

In [ ]:
#search
re.search("is",s)

In [ ]:
#findal
re.findall("is",s)

['is']

In [ ]:
#sub
re.sub("is","was",s)

'python was a good programming language'

In [ ]:
#wap to search a particular word in a given string using re
s="apple are oranges"
re.search("are",s)

In [ ]:
s="python is 333 good programming language ABCD"
re.sub("[a-d A-D]","@",s)

'python@is@333@goo@@progr@mming@l@ngu@ge@@@@@'

In [ ]:
s="python is 333 good programming language ABCD"
re.sub("[a-d A-D]","@",s)
re.sub("[^a-z A-Z]","@",s)

'python is @@@ good programming language ABCD'

In [ ]:
s="python is 333 good programming language ABCD"
re.sub("[a-d A-D]","@",s)
re.sub("[^a-z A-Z]","",s)

'python is  good programming language ABCD'

In [ ]:
s="123,455"
re.findall(r"\d",s)

['1', '2', '3', '4', '5', '5']

In [ ]:
from string import whitespace
s="1234 apple 54ora5gee are"

In [ ]:
#recursion :a function calling itself
#wap to find factorial of a number using recurssion
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)
fact(5)

120

In [ ]:
#create a class rectangle and display its area and perimeter
class Rectangle:
    def get_data(self):
        self.length = float(input("Enter the length of the rectangle: "))
        self.width = float(input("Enter the width of the rectangle: "))

    def display(self):
        print("Length:", self.length)
s1=Rectangle()
s1.get_data()
s1.display()

In [ ]:
#oop
#reusability
#structured programing
#easy under standing,easy to debug
#class-> blue print of object
#object->Instance of the class
#

In [ ]:
class student():
  def get_data (self):
    self.name=input("enter the name")
    self.rollno=int(input("enter the roll no"))
  def display(self):
    print(self.name)
    print(self.rollno)

s1=student()
s1.get_data()
s1.display()

enter the namehanock
enter the roll no22
hanock
22

In [ ]:
#create class of circles display area perimeter
class Rectangle():

  def get_data(self) :
    self.l=int(input("enter the length: "))
    self.b=int(input("enter the breadth: "))

  def area(self):
    print("area: ",self.l*self.b)


  def perimeter(self):
    print("perimeter: ",2*(self.l+self.b))

r=Rectangle()

r.get_data()
r.area()
r.perimeter()

enter the length: 3
enter the breadth: 4
area:  12
perimeter:  14

In [ ]:
#constructor:__init__() to assign values to data members,automatically calls when object is created
class student():
  def __init__(self,n,r):
    self.name=n
    self.rollno=r
  def display_data(self):
    print(self.name)
    print(self.rollno)
s1=student("abu",1)
s1.display_data()

abu
1

In [ ]:
#create class rectangle with constructor
class Rectangle():
    def __init__(self, l,w):
      self.length = l
      self.width = w
    def area(self):
        print("Area:", self.length * self.width)
    def perimeter(self):
        print("Perimeter:", 2 * (self.length + self.width))
r=Rectangle(3,4)
r.area()
r.perimeter()

Area: 12
Perimeter: 14

In [ ]:
#create class circle using constructor
class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        print("Area:", 3.14 * self.radius * self.radius)

    def perimeter(self):
        print("perimeter:", 2 * 3.14 * self.radius)
c = Circle(5)
c.area()
c.perimeter()

Area: 78.5
perimeter: 31.400000000000002

In [ ]:
#find string reverse using class
class String():

  def __init__(self,r):
    self.string=r
  def rev (self):
    print(self.string[-1::-1])

r=String("malayalam")

r.rev()

malayalam

In [ ]:
import numpy as np
a=np.array([1,2,3,0,4,"a"])
print(a)

['1' '2' '3' '0' '4' 'a']

In [ ]:
b=np.array([0,2,3,4,5])
b=np.array([[1,2],[3,2]])
a.ndim
b.ndim
print(b)
b.shape

[[1 2]
 [3 2]]

(2, 2)

In [ ]:
#slicing forword slicing backword

b=np.array ([1,2,3,4,5])

#print(1,2)

b[0:2]

#print(5,4)

b[-1:-3:-1]

#print(4,5)

b[3:]

#print(2,1)

b[-4::-1]

array([2, 1])

In [ ]:
#create a 2x3 matrix  and print ,size,shape,dimension
a=np.array ([[1,2,3],[4,5,6]])
print(a)
print(a.size)
print(a.ndim)

[[1 2 3]
 [4 5 6]]
6
2

In [ ]:
a=np.array ([[1,2],[3,4],[5,6],[7,8]])
print(a)
print(a.size)
print(a.ndim)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
8
2

In [ ]:
#create a 4x4 matrix
a=np.array ([[1,2,3,4],[5,3,2,2],[7,6,5,3],[3,4,3,2]])
print(a)
print(a.size)
print(a.shape)
print(a.ndim)

[[1 2 3 4]
 [5 3 2 2]
 [7 6 5 3]
 [3 4 3 2]]
16
(4, 4)
2

In [16]:
import numpy as np

a=np.array ([[1,2,3,4],[5,3,2,2],[7,6,5,3],[3,4,3,2]])
print(a)

[[1 2 3 4]
 [5 3 2 2]
 [7 6 5 3]
 [3 4 3 2]]

In [ ]:
 a[0]
 a[:,0]
 a[1,1]
 a[2,2]
 a[3,2:]
 a[2:,2:]

array([[5, 3],
       [3, 2]])

In [ ]:
a=np.ones([3,3],dtype=int)
a

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [ ]:
#creat two 2x2 matrix

a=np.array([[1,2],[3,4]])
b=np.array([[3,1],[6,7]])
print(a)
print(b)

[[1 2]
 [3 4]]
[[3 1]
 [6 7]]

In [ ]:
#matrix addition
print(a+b)
#matrix substraction
print(a-b)
#matrix multiplication
print(a*b)#not a multiplication
print(a@b)#matrix multiplication
print(a.dot(b))
#matrix division
print(a/b)

[[ 4  3]
 [ 9 11]]
[[-2  1]
 [-3 -3]]
[[ 3  2]
 [18 28]]
[[15 15]
 [33 31]]
[[15 15]
 [33 31]]
[[0.33333333 2.        ]
 [0.5        0.57142857]]

In [19]:
#floor
z=np.floor (a)
z

array([[3., 4., 1.],
       [5., 3., 1.],
       [6., 9., 8.]])

In [ ]:
#ceil
z=np.ceil(a)
z

array([[1., 2.],
       [3., 4.]])

In [18]:
#round
z=np.round(a)
z
#np.cos(a)
a.flatten()

array([3, 4, 1, 5, 3, 1, 6, 9, 8])

In [21]:
#sort
#create 3x3 matrix
a=np.array([[3,4,1],[5,3,1],[6,9,8]])
print(a)
b=np.sort(a,axis=1)
print(b)
c=np.argsort(a,axis=1)
print(c)

[[3 4 1]
 [5 3 1]
 [6 9 8]]
[[1 3 4]
 [1 3 5]
 [6 8 9]]
[[2 0 1]
 [2 1 0]
 [0 2 1]]